/** CHECKBOX*/
/* Original styles by Shaw : https://codepen.io/shshaw/pen/WXMdwE */
$duration: 0.4s;
$stroke: #42d7e4;
$colorText: #076b74;
$colorTextChecked: #a5e7ec;
.todo {
display: block;
position: relative;
padding: 1em 1em 1em 16%;
margin: 0 auto;
cursor: pointer;
border-bottom: solid 1px #ddd;
&:last-child { border-bottom: none; }
}
.todo.new-item {
opacity: 0;
transform: translateX(100px);
animation: fadeIn .3s linear forwards;
}